@import "bootstrap/dist/css/bootstrap.min.css";

.card-img-top {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.card {
    margin-bottom: 20px;
}

.card-text {
    font-size: 0.9rem;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    margin: 0 0.25rem;
}

.page-link {
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}

.page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
